<nav>

    <div class="container">
        <h1 class="p-3">Sandbox 1</h1>

        <div class="p-3 h2">Web dev</div>
    </div>
    <div class="">
        <app-nav-bar></app-nav-bar>
    </div>

</nav>