<div class="row">
    <div class="col-12 ">
      <div class="font-weight-bold m-1 p-2 diagnostics">
        <div><h4>Sandbox 1 (v{{appver}}) <small> made with</small></h4></div>
        <div class="pl-3 items">
          <div>Bootstrap {{bootstrapver}}</div>
          <div>{{angularver}}</div>
          <div>{{ngcliver}}</div>
          <div>{{typescriptver}}</div>
          <div>{{fontawesomever}}</div>
          <div class="pt-3 font-weight-bold"><span class="">{{ lastUpdate | date: "MMMM dd, yyyy hh:mm a" }}</span></div>
        </div>
      </div>
    </div>
  </div>
