
.diagnostics {
    background-color: honeydew;

    & .items div :not(:last-of-type) {
        padding: 0 0 .75rem .5rem !important;

    }

    & .items div:last-of-type(){
            font-weight: bold !important;

        }
    
}