<div class="container box1-top full-page">

    <div class="row">
        
        <div class="col-sm-12 d-flex-column">
            
            <h3>Box1 - directives</h3>


            <h4 #subhead>{{originalSub}}</h4>

        </div>
        
        <div class="">
            
            <div appDiarycard [ngClass]="classes">
                <h4>Standard diary card</h4>
            </div>
        </div>

        <div class="">
            <div appDiarycard [ngClass]="classes">
                <h4>Standard diary card</h4>
                
                <div>Standard diary text</div>
            </div>
        </div>



            
        

    
    </div>


</div>