    <ul class="nav sandbox-nav d-flex justify-content-around">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">
                <span class="fas fa-home"></span>
                <span class="sr-only">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/boxes">Boxes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#">Link</a>
        </li>

    </ul>
