/* You can add global styles to this file, and also import other style files */

@import "./scss/custom" ;

.full-page {
    min-height: calc(100vh - 100px);
}

.make-dark {
    background-color: #222222 !important ;
    color: #ffffff !important ;
}


// directive styles

[appDiarycard] {
    //display: flex ;
    //align-content: space-between;
    min-height: 350px ;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 45% ;
}

.wrapper {
    background-color: rgb(200, 210, 219) !important ;
    border: 2px solid lightsalmon !important ;
    color: #000000 !important ;
    

    & h4 {
        color: darkgreen !important ;
        text-align: center !important ;
    }

}

.wrapper-alt {
    background-color: rgb(15, 5, 51) !important ;
    border: 4px solid rgb(255, 224, 248) !important ;
    color: #000000 !important ;

    & h4 {
        color: lightsalmon !important  ;
        text-align: center !important ;
    }
}

.make-dark {
    border-radius: 20px !important ;
    border: thin solid black ;


}
    


