<div class="container full-page"   [ngStyle]="{background: bodyShade}">

    <div class="row justify-content-around sandbox-tiles">

        <div class="col-sm-12 col-md-6 shadow">

            <h3>Bootstrap 5</h3>
            <p>Far more Flexbox than v4, so if you know your stuff, you'll have fun doing the necessary refactoring.</p>

        </div>

        <div class="col-sm-12 col-md-5 shadow">

            <h3>Angular 11</h3> Finding it good. The upgrade path from 8 to 9 to 10 was a touch tricky, 10 to 11 a lot
            smoother.

        </div>

        <div class="col-sm-12 col-md-6 shadow">
            FA 5 reliably web font <i class="fas fa-anchor"></i> may well get a sub to Pro.
        </div>

        <div class="col-sm-12 col-md-5 shadow">
            More
        </div>
        <div class="col-sm-12 col-md-6 shadow">
            More
        </div>

        <div class="col-sm-12 col-md-5 shadow" [ngStyle]="{background: bgDiag}">

            <div class="p-3" [ngStyle]="{background: bgDiagsub}">
                <app-diagnostics></app-diagnostics>
            </div>

        </div>

        <div class="col-sm-12 col-md-6 shadow">
            More
        </div>
        <div class="col-sm-12 col-md-5 shadow">
            More
        </div>
        <div class="col-sm-12 col-md-6 shadow">
            More
        </div>
        <div class="col-sm-12 col-md-5 shadow">
            More
        </div>

        <div class="col-sm-12 col-md-6 shadow">
            More
        </div>
        <div class="col-sm-12 col-md-5 shadow">
            More
        </div>




    </div>
</div>